{% extends "layout.html" %} {% block content %}
<div
  class="border rounded-md border-zinc-300 bg-zinc-100 justify-center max-w-3xl mx-auto p-7"
>
  <h1 class="text-5xl font-semibold p-2">Анализатор страниц</h1>
  <label for="url-input" class="block text-xl p-2 cursor-pointer">
    Бесплатно проверяйте сайты на Seo-пригодность
  </label>
  <form
    action="{{ url_for('urls_post') }}"
    method="post"
    class="gap-4 p-2 flex"
  >
    <input
      id="url-input"
      type="url"
      name="url"
      class="form-input p-2 grow rounded border-zinc-300 hover:border-zinc-500"
      placeholder="https://example.com"
      required
    />
    <button
      class="text-white font-semibold p-2 px-10 bg-blue-500 rounded hover:bg-blue-700"
      type="submit"
    >
      Проверить
    </button>
  </form>
</div>
{% endblock %}
